@media (min-width:576px) {
    .container-medium {
      max-width: 540px;
    }
  }
  
  @media (min-width:768px) {
    .container-medium {
      max-width: 720px;
    }
  }
  
  @media (min-width:992px) {
    .container-medium {
      max-width: 960px;
    }
  }
  
  @media (min-width:1200px) {
    .container-medium {
      max-width: 1400px;
      width: 80%;
    }
  }
  
  @media (min-width:576px) {
    .container-full {
      max-width: 540px;
    }
  }
  
  @media (min-width:768px) {
    .container-full {
      max-width: 720px;
    }
  }
  
  @media (min-width:992px) {
    .container-full {
      max-width: 960px;
    }
  }
  
  @media (min-width:1200px) {
    .container-full {
      max-width: 1400px;
      width: 90%;
    }
  }
  @media only screen and (min-width: 1100px) {
    .left-border::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      height: 100%;
      width: 70px;
      background: #edf5ff;
      z-index: -1;
    }
    @media only screen and (min-width: 1367px) {
        .software-overview-area .container-full {
          margin-left: calc((100% - 1140px)/ 2);
          width: auto;
          min-width: auto;
          max-width: inherit;
        }
      }
      
      @media only screen and (min-width: 1000px) {
      
        .software-overview-area .software-overview-carousel.owl-carousel .owl-stage {
          left: -150px;
        }
      
        .software-overview-area .container-full {
          padding-right: 0;
        }
      }
      
      .software-overview-area .software-overview-carousel .owl-dots {
        margin-top: 40px !important;
        margin-bottom: -8px;
      }
      
      .software-overview-area .software-overview-carousel .owl-dots .owl-dot span {
        display: block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffffff;
        position: relative;
        z-index: 1;
        border: 2px solid #e7e7e7;
      }
      
      .software-overview-area .software-overview-carousel .owl-dots .owl-dot.active span::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 5px;
        width: 5px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        background: #4ac4f3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      
*{
    margin: 0;
    padding: 0;
   font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
}
body{
font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #666666;
}
header{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.navbar{
    font-size: 20px;
    font-weight: 500;
    /* align-items: center; */
}

.btn.btn-navbar{
    /* //position: absolute; */
    background: white;
    color:#4ac4f3 ;
    font-weight: 700;
    display:inline;
    padding: 10px 30px !important;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 0 0 10px #e7e7e7;
  padding-left: 30px!important;
  padding-right: 40px!important;

}

.navbar-brand img{
    width: 100%;
    outline: none;
    height: auto;
    margin: 25px;;
    padding-left: 70px;

}
.navbar ul li {
    margin: 30px;
    /* list-style: none; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    background-color: transparent !important;
    /* letter-spacing: 0.06em; */
    /* line-height: 1.5px!important; */
    letter-spacing: 0.5px;
}
.navbar-light .navbar-nav .nav-link.active:hover  {
    color: #4ac4f3;
}

.navbar-nav{
    display: flex;
    padding-left: 105px;
    margin-right: unset!important;
}
.banner-area div{
    height: 100%;
}
.align-center{
    align-items: center;
}
 .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} 
.banner-area{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.banner-area h2{
    visibility: visible;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #232323;
    font-weight: normal;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
    margin: 3px;
    padding-left:99px ;
margin-top: 160px;
    
}



.banner-area p{
    font-size: 28px;
    line-height: 34px;
    color: #666666;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    padding-left: 99px;
    margin-top: 45px;
}

.btn-gradient{
    padding: 16px;
    margin: 0px;
    height: 74px!important;
    font-weight: 700;
    left: 0;
    font-size: 23px;
    top: 10px;
    color: white;
    height: 60px;
    width: 27%;
    background: linear-gradient(
90deg
, rgba(74,196,243,1) 48%, rgba(1,135,186,1) 100%);
    transition: all 0.35s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 10px rgb(255 136 0 / 50%), inset 0 0 1px 1px #4ac4f3;
    
}
.bottom{
    padding-left: 95px;
    margin-top: 45px;
    font-size: 25px;
    font-weight: 500;
}

.bottom img {
    height: 75px;
    padding-left: 30px;
   
}

#boggas{
    width: 118%;
    height: auto;
}
.fixed-bg{
    position: absolute;
left: 0;
bottom: 0;
height: 100%;
width: 100%;
}

.container{
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
     max-width: 100%; 
     height: 100%;
    /* background-color: lightskyblue;  */
} 


.bg-theme{
    background-color: #4ac4f3;
}
.text-light{
    color: #f8f9fa!important;
}
div{
    display: block;
}
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}
.fixed-bg{
     position: absolute; 
     background-image: url(/images/10.png);
     left: 0; 
    bottom: 0; 
    height: 100%;
     width: 100%; 
   
}

.fixed-bg.container.row{
     display: flex; 
     flex-wrap: wrap; 
     margin-right: -15px; 
    margin-left: -15px; 
}
.col-lg-5{
    position: relative;
     
     padding-right: 15px; 
     padding-left: 15px; 
}
.text-light h2{
    color: #ffffff;
}

h2 {
    display: block;
     font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 15px;
}
.clients-area .info h2{
    line-height: 1.4;
    font-size: 45px;
    font-weight: 700;
    padding-left: 75px;
}

.clients-area p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
    text-transform: none;
    font-weight: 400;
    padding-left: 75px;
    font-size: 24px;
}
.text-light p{
    color: #ffffff;
}

.col-lg-7{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.owl-carousel {
    width: 100%;
    z-index: 1;
    /* -webkit-tap-highlight-color: transparent; */
    position: relative;
    display:flex;
    left:890px;

    bottom: 145px;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.item img {
    border: none; 
    border-top-color: initial; 
     border-top-style: none; 
     border-top-width: initial; 
     border-right-color: initial; 
    border-right-style: none; 
    border-right-width: initial; 
     border-bottom-color: initial; 
     border-bottom-style: none; 
     border-bottom-width: initial; 
     border-left-color: initial; 
     border-left-style: none; 
     border-left-width: initial; 
     border-image-source: initial; 
     border-image-slice: initial; 
     border-image-width: initial; 
     border-image-outset: initial; 
 border-image-repeat: initial; 
    outline: none; 
     max-width: 100%;
}

.clients-area .owl-item img {
    width: auto;
    margin: auto;
    height: 80px;

}

.our-features-area{
    padding-bottom: 65px;
}
.relative {
    position: relative;
    z-index: 1;
}
#features.default-padding{
    padding-top: 120px;
}
.site-heading h2 {
    display: block;
    font-weight:650;
    position: relative;
    margin-bottom: 0;
    font-size: 60px;
    color: black;
    line-height: 1.4;
}
.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
    padding-right: 115px;
}
text-center {
    text-align: center!important;
}
.site-heading p {
    margin: 0;
    margin-top: 10px;
    color: #666666;
    text-transform: none;
    font-size: 23px;
    font-weight: 400;
}

.our-features-area .fixed-bg {
    background-position: top left;
    opacity: 0.5;
}
.col-lg-8{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;

}

.site-heading .devider {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #4ac4f3;
    position: relative;
    z-index: 1;
    left: 10px;
}

.our-features-area .feature-items .single-item {
    margin-bottom: 50px;
}
.col-lg-4,.col-md-6{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.our-features-area .feature-items .single-item .item {
    padding: 0 15px;
}
.our-features-area .feature-items .single-item i  {
    display: inline-block;
    text-align: center;
    line-height: 110px;
    color: #000000;
    z-index: 1;
}
.our-features-area .feature-items .single-item h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size:40px;
    margin-bottom: 15px;
    color: black;
}
.our-features-area .feature-items .single-item p {
    margin-bottom: 0;
    color: #666666;
    font-size: 22px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.our-features-area .fixed-bg {
    background-position:top left;
    opacity: 0.5;
}

.chooseus-area.inc-technology {
    margin-bottom: 40px;
}
.default-padding-top {
    padding-top: 120px;
    position: relative;
}
.bg-gray {
    background-color: #edf5ff;
    padding-left: 100px;
}
.chooseus-area.inc-technology.row {
     display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6{
    position: relative;
    padding-left: 15px;

}

.chooseus-area .info  h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: #4ac4f3;
    margin-bottom: 15px;
    font-size: 30px;
}
.chooseus-area .info h2 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 55px;
    color: black;
}
.area-title {
    font-size: 40px;
    line-height: 1.2;
}
.chooseus-area .info  ul {
    border-left: 1px dashed #cccccc!important;
    padding-left: 30px;
    margin-left: 10px;
     margin: 0;
     list-style-type: none;

}

.chooseus-area .info  ul li{
    margin-top: 0;
}
.chooseus-area .info  ul li h5{
    font-weight: 700;
    position: relative;
    z-index:1;
    font-family: 'Nunito';
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
    font-size: 28px!important;
    color: black;
    line-height: 1.2;
    font-size: 1.25rem;
}
.chooseus-area .info  ul li h5 img{
    max-width: 35px;

}
.chooseus-area .info  ul li p {
    margin: 0;
    color: #666666;
    font-size: 23px;
    margin-bottom: 30px;
    text-transform: none;
    font-weight: 400;
}
.chooseus-area .info .technology {
    background: #ffffff;
    padding: 50px;
    box-shadow: 0 5px 30px 0 rgb(214 215 216 / 57%);
    position: relative;
    bottom: -40px;
}
.chooseus-area .info .technology h4 {
    font-weight: 700;
    margin: 0;
    color: black;
    font-family: 'Nunito';
    font-size: 30px;
}

.chooseus-area .info .technology i img {
    margin-right: 20px;
    margin-top: 20px;
    max-width:65px;
    
    color: #666666!important;
}
.width-120 img {
    max-width: 110%;
    border: none;
    vertical-align: middle;
    outline: none;
}

.overflow-hidden {
    overflow: hidden!important;
}

#overview .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
}

.site-heading h2 {
    display: block;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
    line-height: 1.4;
    color: black;
    padding-right: 35px;
    font-size: 60px;
}
.site-heading .devider {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #4ac4f3;
    position: relative;
    z-index: 1;
    
}
.site-heading p {
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
}
#overview .overview-items {
    position: relative;
    z-index: 1;
}

#overview img{
      position: relative; 
    top: -120px;
    
    height: 60%;
    margin-top: 135px;
    padding-right: 50px;
    /* background: url(/images/12.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: -1;
     box-sizing: border-box; 
    border: none;
    outline: none;
    width: 100%;
    vertical-align: middle;
}
#overview{
    padding-left: 115px;
    background-image: url(/images/12.png);
    background-repeat: no-repeat;
    
    
}
.overview-area .nav-tabs {
    border: none;
    background: rgba(74, 196, 243, 1);
    padding: 78px;
    margin-top: 20px;
    padding-left: 85px;
    padding-right:115px ;
    height: 50%;
    
}
.overview-area .nav{
    margin-bottom: 0;
    list-style: none;
    display: block;
    flex-wrap: wrap;
}

#tabs ul{
    margin: 0;
}

.overview-area .nav-tabs li {
    margin: 15px 0;
   
}

.nav  li {
    position: relative;
    font-size: 25px;
    font-weight: 100;
}


.overview-area .nav-tabs li a.active {
    background: #ffffff;
    color: #232323;
}
.overview-area .nav-tabs li a{
    font-size: 23px;
    color: white;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}
.nav-tabs .nav-link.active{
    background: #ffffff;
    color: #232323;
    border-color: #dee2e6 #dee2e6 #fff;
}

.overview-area .nav-tabs li a{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px dashed rgba(255, 255, 255, 0.6);
}
.nav  li  a {
    position: relative;
    display: block;
}
  
  }
  .default-padding.bottom-less {
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 55px;
}
#photo.row{
    width: 118%;
}
#team.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.team-area .team-items {
    position: relative;
    z-index: 1;
}
.team-area .team-items .shape {
    position: absolute;
    left: -100px;
    top: -150px;
}

.team-area .team-items .shape img {
    width: 340px;
    border: none;
    vertical-align: middle;
    outline: none;
}

.team-items .single-item {
    margin-bottom: 30px;
}

.team-area .team-items .item .thumb {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
}


/* .team-area .team-items .item .thumb img{
    border: none;
    outline: none;
    width: 100%;
    vertical-align:middle ;
  
} */

/* .team-area .team-items .item .thumb .social {
    position: absolute;
    right: -80px;
    top: 30px;
    background: #ffffff;
    border-radius: 5px 0 0 5px;
    padding: 15px 0;
    transition: all 0.35s ease-in-out;
    z-index: 1;
} */

/* .team-area .team-items .item .thumb .social ul{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-style: normal; 
font-variant: normal;

    text-rendering: auto;
    line-height: 1;
    padding-right: 25px;
    list-style-type: none;
} */

/* 
.team-area .team-items .social li {
    margin: 0 10px;
    display: list-item;
    
} */

/* .team-area .team-items .social li.facebook a {
    
} */

/* .team-area .team-items .social li a {
    display: inline-block;
    font-size: 18px;

    padding: 5px;
  
    padding-left: 7px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.social ul li img{
    font-style: normal; 
font-variant: normal;
    text-rendering: auto;
    line-height: 1;
} */

.team-area .team-items .social li.twitter a {
    /* color: #1da1f2; */
}

.team-area .team-items .social li.instagram a {
    /* color: #cd486b; */
}
.team-area .team-items .social li.linkedin a {
    /* color: #0077b5; */
}
.team-items .item .info {
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: -5px;
}

.team-items .item h4 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 5px;
    color: #232323;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
    margin: 5px;
    padding-left: 50px;
    font-size: 32px;
}
.team-items .item span {
    display: block;
    color: #777777;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 48px;
}



.default-padding-top.bottom-less {
    margin-bottom: -30px;
}

.shape-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.shape-top img {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    outline: none;
    max-width: 100%;
    width: 100%;
}
#pricing .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.site-heading.light h2 {
    color: #ffffff;
}

.site-heading.light .devider {
    background: #ffffff;
}

.site-heading.light p {
    color: #ffffff;
}
.pricing-area .single-item {
    margin-bottom: 30px;
}
.pricing-area .pricing-item {
    padding: 60px 15px;
    background: #ffffff;
    box-shadow: 0 5px 30px 0 rgb(214 215 216 / 57%);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.pricing-item ul {
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 1;
}
.pricing-item li.pricing-header {
    margin-bottom: 30px;
    text-align: center;
}
.pricing-item ul h4 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 900;
    color: black;
    margin-bottom: 30px;
}

.pricing-item ul h2 {
    font-size: 65px;
    color: black;
    font-weight: 900;
}
.pricing-item li {
    margin-bottom: 25px;
    font-size: 22px;
}
.pricing-item li i {
    margin-right: 12px;
    color: #30e3ca;
}
fas {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
}

.pricing-item li.footer {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}
.btn-theme.border {
    background-color: transparent;
    color: #4ac4f3 !important;
    border: 2px solid #4ac4f3 !important;
    border-radius: 40px;
}
.btn-sm {
    padding: 10px 35px;
    font-size: 14px;
}

.pricing-item ul a{
    max-width: 120%;
    height: 100%;
    font-size: 20px;
    font-weight: 900;
}
#active{
background-color: #4ac4f3;
color: white!important;
}
.faq-items .faq-content h2 {
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.3;
    margin-top: -5px;
    color: black;
    font-size: 55px;
}
.faq-area .faq-content .card {
    border: none;
    margin-bottom: 31px;
    overflow: inherit;
    background: #ffffff;
    border-radius: 5px;
    padding: 0;
}
.faq-area .faq-content .card .card-header {
    border: none;
    background: transparent;
    padding: 0;
}

.accordion>.card.card-header {
    border-radius: 0;
    margin-bottom: -1px;
}
.faq-area .faq-content .card .card-header h4 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    color: black;
    padding: 0;
    padding-right: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

/* 
.faq-area .faq-content .card .card-body {
    padding-left: 30px;
    padding: 0;
    padding-top: 15px;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
} */

/* .card-body{
    flex: 1 1 auto;
    min-height: 1px;} */

/* .faq-area .faq-content .card .card-body p {
    margin-bottom: 0;
    color: #666666;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;

} */

.testimonials-area .fixed-bg {
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.testimonials-area .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 200px;
}

.carousel {
    position: relative;
}

.testimonials-area .carousel-inner {
    padding-top: 13px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.testimonials-area .carousel-item {
    padding: 50px;
    border: 1px solid #e7e7e7;
    position: relative;
    z-index: 1;
    float: left;
    position: relative;
    color: black;
    width: 80%;
    font-size:20px;
    overflow: hidden;
    margin-right: -100%;
}

.carousel-item.active{
    display: block;
}
.testimonials-area .carousel-item p {
    font-size: 30px;
    line-height: 35px;
    font-style: italic;
    font-weight: 700;
     color: #969696;
    margin: 0 0 15px;
    text-transform: none
}
.testimonial-items span {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 30px;
    color:#969696 ;
    display: block;
}
.testimonial-items h4 {
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
}
.testimonials-area .carousel-indicators {
    bottom: 0;
    margin-top: 22px;
    position: relative;
    right: 0;
    left: -120px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;

}
.testimonials-area .carousel-indicators li {
    width: 60px;
    min-width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 10px #cccccc;
  border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
   vertical-align: middle;
}
.testimonials-area .carousel-indicators .active {
    opacity: 1;
    margin: 0 25px;
    
}
.testimonials-area .carousel-indicators li img {
    display: block;
    height: auto;
    width: 100%;
    border: none;
    outline: none;
    /* max-width: 100%; */

}
.testimonial-items h4 {
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 25px;
}

#blog .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blog-area h2{
    display: block;
    font-weight: 700;
    position: relative;
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 40px
}

.blog-area .single-item {
    margin-bottom: 30px;
}

.blog-area .item {
    box-shadow: 0 0 10px #e7e7e7;
    background: #ffffff;
}
.blog-area .item .thumb {
    position: relative;
    z-index: 1;
}

.blog-area .item .thumb .date {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    bottom: -20px;
    font-size: 20px;
    background: #4ac4f3;
    color: #ffffff;
    /* padding: 5px 20px; */
    /* width: 33%; */
    /* height: 13%; */

}
.blog-area .item .info {
    padding: 30px;
    padding-top: 45px;
}
.blog-area .item .info h4 a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
}
.blog-area .item .info .meta {
    margin-bottom: 15px;
    margin-top: -10px;
}

.meta ul {
    margin: 0;
    list-style-type: none;
}


.blog-area .item .info .meta li {
    color: #666666;
    font-weight: 700;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}
.blog-area .item .info .meta a, .blog-area .item .info .meta li {
    color: #666666;
    font-weight: 700;
    margin-top: 5px;
    font-size: 25px;
    text-decoration: none;
}
.blog-area .item .info .meta li i {
    margin-right: 4px;
    color: #4ac4f3;
}
.blog-area .item .info h4 {
    line-height: 1.3;
    font-weight: 700;
        margin-bottom: 15px;

}
/* .blog-area .item .info a {
    margin-top: 5px;
} */
a.btn-simple {
    text-transform: uppercase;
    font-weight: 800;
}
#middlebg{
   width: 33.3%;

}


.blog-area .item .info a{
    font-size: 25px;
    color: black;
text-decoration: none;
}
.blog-area .item .info p{
    font-size: 23px;
    font-weight: 400;
    margin-top: 40px;

    margin-bottom: 45px;
}
#contact .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
/* .contact-area .maps {
    padding-right: 35px;
}
.contact-area .maps iframe {
    height: 100%;
    width: 100%;
}

iframe {
    border: none;
} */

.contact-area .contact-forms h2 {
    font-weight: 700;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

.contact-area form .form-group {
    position: relative;
    margin-bottom: 1rem;
}
.contact-area form .form-group i {
    position: absolute;
    left: 0;
    top: 18px;
    color: #999999;
}
.contact-area .contact-forms input, .contact-area .contact-forms textarea {
    border: none;
    box-shadow: inherit;
    padding-left: 30px;
    font-size: 30px;
    /* color: black!important; */
    border-bottom: 1px solid #e7e7e7;
    border-radius: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
    min-height: 50px;
}
.contact-area .contact-forms textarea {
    min-height: 150px;
    padding-top: 13px;
}
.contact-area .contact-forms textarea {
    border: none;
    box-shadow: inherit;
    padding-left: 30px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: inherit;
}

textarea.form-control {
    height: auto;
}

#form-end{
    left: 980px;
}
 

.contact-area .contact-forms button {
    padding: 20px 70px;
    background: transparent;
    border: 2px solid #4ac4f3 !important;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    transition: all 0.35s ease-in-out;
    margin-top: 20px;
}

.bg-dark {
    background: #202942 !important;
}

footer .footer-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.footer-shape img{
    
        border: none;
        outline: none;
        max-width: 100%;
          vertical-align: middle;
}

footer .default-padding {
    padding-top: 70px;
}

.f-items.row {
    
    display: flex;
   
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
footer .item {
    margin-top: 50px;
}
footer .f-item.about {
    padding-right: 105px;
    margin-top: 60px;
    padding-left: 70px;
}

footer .f-item img {
    margin-bottom: 30px;
    width: 50%;
}

footer.bg-dark p {
    color: #adb5bd;
}

footer.bg-dark form {
    background: rgba(255, 255, 255, 0.03);
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
footer.bg-dark .f-items form input, footer.bg-dark .f-items form input:focus {
    background: transparent;
    color: #ffffff;
    font-size: 25px;
}
footer .f-items form input {
    border: none !important;
    box-shadow: inherit;
    border-radius: 5px;
    border-radius: 5px;
    min-height: 56px;
    padding-left: 20px;
}
#foot.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

footer form button {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 46px;
    padding: 0 20px;
    font-size: 25px;
    border-radius: 30px;
    background: #4ac4f3;
    color: #ffffff;
    font-weight: 700;
    border: none !important;
    box-shadow: inherit !important;
    outline: inherit !important;
}
footer .f-item .widget-title {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
    text-decoration: none;
    text-transform: capitalize;
}
footer .f-item{
    font-size: 25px;
    margin-top: 72px;
    padding: auto;
}
footer ul li:first-child {
    margin-top: 0;
}
footer.bg-dark li {
    color: #adb5bd;
}

footer.bg-dark li a, footer.bg-dark li {
    color: #adb5bd;
    text-decoration: none;
}

footer ul li a {
    /* color: #999; */
    font-weight: 600;
}
footer.bg-dark .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding: 20px 0;
}
.footer-bottom .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
footer.bg-dark .footer-bottom p {
    margin: 43px;
    color: #cccccc;
    font-weight: 400;
}

.footer-bottom p a {
    color: #4ac4f3 !important;
    text-decoration: none;
}


footer.bg-dark p {
    color: #adb5bd;
    font-size: 21px;
}

.footer-bottom ul li {
    padding-left: 420px;
     overflow: hidden;
     margin-top: 100px;
    font-size: 25px;
}
#footlast li{
    margin-top: 45px;
}

#midf-item{
    left: 65px;
}