*{
    margin: 0;
    padding: 0;
   font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
}
body{
font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #666666;
}
header{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.navbar{
    font-size: 20px;
    font-weight: 500;
    /* align-items: center; */
}

.btn.btn-navbar{
    /* //position: absolute; */
    background: white;
    color:#4ac4f3 ;
    font-weight: 700;
    display:inline;
    padding: 10px 30px !important;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 0 0 10px #e7e7e7;
  padding-left: 30px!important;
  padding-right: 40px!important;

}

.navbar-brand img{
    width: 100%;
    outline: none;
    height: auto;
    margin: 25px;;
    padding-left: 70px;

}
.navbar ul li {
    margin: 30px;
    /* list-style: none; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    background-color: transparent !important;
    /* letter-spacing: 0.06em; */
    /* line-height: 1.5px!important; */
    letter-spacing: 0.5px;
}
.navbar-light .navbar-nav .nav-link.active:hover  {
    color: #4ac4f3;
}

.navbar-nav{
    display: flex;
    padding-left: 105px;
    margin-right: unset!important;
}
.banner-area div{
    height: 100%;
}
.align-center{
    align-items: center;
}
 .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} 
.banner-area{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.banner-area h2{
    visibility: visible;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #232323;
    font-weight: normal;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
    margin: 3px;
    padding-left:99px ;
margin-top: 160px;
    
}



.banner-area p{
    font-size: 28px;
    line-height: 34px;
    color: #666666;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    padding-left: 99px;
    margin-top: 45px;
}

.btn-gradient{
    padding: 16px;
    margin: 0px;
    height: 74px!important;
    font-weight: 700;
    left: 0;
    font-size: 23px;
    top: 10px;
    color: white;
    height: 60px;
    width: 27%;
    background: linear-gradient(
90deg
, rgba(74,196,243,1) 48%, rgba(1,135,186,1) 100%);
    transition: all 0.35s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 10px rgb(255 136 0 / 50%), inset 0 0 1px 1px #4ac4f3;
    
}
.bottom{
    padding-left: 95px;
    margin-top: 45px;
    font-size: 25px;
    font-weight: 500;
}

.bottom img {
    height: 75px;
    padding-left: 30px;
   
}

#boggas{
    width: 118%;
    height: auto;
}
.fixed-bg{
    position: absolute;
left: 0;
bottom: 0;
height: 100%;
width: 100%;
}

.container{
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
     max-width: 100%; 
     height: 100%;
    /* background-color: lightskyblue;  */
} 


.bg-theme{
    background-color: #4ac4f3;
}
.text-light{
    color: #f8f9fa!important;
}
div{
    display: block;
}
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}
.fixed-bg{
     position: absolute; 
     background-image: url(/images/10.png);
     left: 0; 
    bottom: 0; 
    height: 100%;
     width: 100%; 
   
}

.fixed-bg.container.row{
     display: flex; 
     flex-wrap: wrap; 
     margin-right: -15px; 
    margin-left: -15px; 
}
.col-lg-5{
    position: relative;
     
     padding-right: 15px; 
     padding-left: 15px; 
}
.text-light h2{
    color: #ffffff;
}

h2 {
    display: block;
     font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 15px;
}
.clients-area .info h2{
    line-height: 1.4;
    font-size: 45px;
    font-weight: 700;
    padding-left: 75px;
}

.clients-area p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
    text-transform: none;
    font-weight: 400;
    padding-left: 75px;
    font-size: 24px;
}
.text-light p{
    color: #ffffff;
}

.col-lg-7{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.owl-carousel {
    width: 100%;
    z-index: 1;
    /* -webkit-tap-highlight-color: transparent; */
    position: relative;
    display:flex;
    left:890px;

    bottom: 145px;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.item img {
    border: none; 
    border-top-color: initial; 
     border-top-style: none; 
     border-top-width: initial; 
     border-right-color: initial; 
    border-right-style: none; 
    border-right-width: initial; 
     border-bottom-color: initial; 
     border-bottom-style: none; 
     border-bottom-width: initial; 
     border-left-color: initial; 
     border-left-style: none; 
     border-left-width: initial; 
     border-image-source: initial; 
     border-image-slice: initial; 
     border-image-width: initial; 
     border-image-outset: initial; 
 border-image-repeat: initial; 
    outline: none; 
     max-width: 100%;
}

.clients-area .owl-item img {
    width: auto;
    margin: auto;
    height: 80px;

}

.our-features-area{
    padding-bottom: 65px;
}
.relative {
    position: relative;
    z-index: 1;
}
#features.default-padding{
    padding-top: 120px;
}
.site-heading h2 {
    display: block;
    font-weight:650;
    position: relative;
    margin-bottom: 0;
    font-size: 60px;
    color: black;
    line-height: 1.4;
}
.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
}
text-center {
    text-align: center!important;
}
.site-heading p {
    margin: 0;
    margin-top: 10px;
    color: #666666;
    text-transform: none;
    font-size: 23px;
    font-weight: 400;
}

.our-features-area .fixed-bg {
    background-position: top left;
    opacity: 0.5;
}
.col-lg-8{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;

}

.site-heading .devider {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #4ac4f3;
    position: relative;
    z-index: 1;
    left: 10px;
}

.our-features-area .feature-items .single-item {
    margin-bottom: 50px;
}
.col-lg-4,.col-md-6{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.our-features-area .feature-items .single-item .item {
    padding: 0 15px;
}
.our-features-area .feature-items .single-item i  {
    display: inline-block;
    text-align: center;
    line-height: 110px;
    color: #000000;
    z-index: 1;
}
.our-features-area .feature-items .single-item h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size:40px;
    margin-bottom: 15px;
    color: black;
}
.our-features-area .feature-items .single-item p {
    margin-bottom: 0;
    color: #666666;
    font-size: 22px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.our-features-area .fixed-bg {
    background-position:top left;
    opacity: 0.5;
}

.chooseus-area.inc-technology {
    margin-bottom: 40px;
}
.default-padding-top {
    padding-top: 120px;
}
.bg-gray {
    background-color: #edf5ff;
    padding-left: 100px;
}
.chooseus-area.inc-technology.row {
     display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6{
    position: relative;
    padding-left: 15px;

}

.chooseus-area .info  h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: #4ac4f3;
    margin-bottom: 15px;
    font-size: 30px;
}
.chooseus-area .info h2 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 55px;
    color: black;
}
.area-title {
    font-size: 40px;
    line-height: 1.2;
}
.chooseus-area .info  ul {
    border-left: 1px dashed #cccccc!important;
    padding-left: 30px;
    margin-left: 10px;
     margin: 0;
     list-style-type: none;

}

.chooseus-area .info  ul li{
    margin-top: 0;
}
.chooseus-area .info  ul li h5{
    font-weight: 700;
    position: relative;
    z-index:1;
    font-family: 'Nunito';
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
    font-size: 28px!important;
    color: black;
    line-height: 1.2;
    font-size: 1.25rem;
}
.chooseus-area .info  ul li h5 img{
    max-width: 35px;

}
.chooseus-area .info  ul li p {
    margin: 0;
    color: #666666;
    font-size: 23px;
    margin-bottom: 30px;
    text-transform: none;
    font-weight: 400;
}
.chooseus-area .info .technology {
    background: #ffffff;
    padding: 50px;
    box-shadow: 0 5px 30px 0 rgb(214 215 216 / 57%);
    position: relative;
    bottom: -40px;
}
.chooseus-area .info .technology h4 {
    font-weight: 700;
    margin: 0;
    color: black;
    font-family: 'Nunito';
    font-size: 30px;
}

.chooseus-area .info .technology i img {
    margin-right: 20px;
    margin-top: 20px;
    max-width:65px;
    
    color: #666666!important;
}
.width-120 img {
    max-width: 110%;
    border: none;
    vertical-align: middle;
    outline: none;
}

.overflow-hidden {
    overflow: hidden!important;
}

#overview .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
}

.site-heading h2 {
    display: block;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
    line-height: 1.4;
    color: black;
    padding-right: 35px;
    font-size: 60px;
}
.site-heading .devider {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #4ac4f3;
    position: relative;
    z-index: 1;
    
}
.site-heading p {
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
}
#overview .overview-items {
    position: relative;
    z-index: 1;
}

#overview img{
      position: relative; 
    top: -120px;
    
    height: 60%;
    margin-top: 135px;
    padding-right: 50px;
    /* background: url(/images/12.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: -1;
     box-sizing: border-box; 
    border: none;
    outline: none;
    width: 100%;
    vertical-align: middle;
}
#overview{
    padding-left: 115px;
    background-image: url(/images/12.png);
    background-repeat: no-repeat;
    
    
}
.overview-area .nav-tabs {
    border: none;
    background: rgba(74, 196, 243, 1);
    padding: 78px;
    margin-top: 20px;
    padding-left: 85px;
    padding-right:115px ;
    height: 50%;
    
}
.overview-area .nav{
    margin-bottom: 0;
    list-style: none;
    display: block;
    flex-wrap: wrap;
}

#tabs ul{
    margin: 0;
}

.overview-area .nav-tabs li {
    margin: 15px 0;
   
}

.nav  li {
    position: relative;
    font-size: 25px;
    font-weight: 100;
}


.overview-area .nav-tabs li a.active {
    background: #ffffff;
    color: #232323;
}
.overview-area .nav-tabs li a{
    font-size: 23px;
    color: white;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}
.nav-tabs .nav-link.active{
    background: #ffffff;
    color: #232323;
    border-color: #dee2e6 #dee2e6 #fff;
}

.overview-area .nav-tabs li a{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px dashed rgba(255, 255, 255, 0.6);
}
.nav  li  a {
    position: relative;
    display: block;
}